:root {
    --board-color: #DE6162;
    --secondary-color: #3D619B;
    --background-color: #43506C;
    --details-color: #53D2DC;
    --font-color: #ffffff;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
	user-select: none;
    overflow: hidden;
    position: fixed;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}